
.colleges-list-container {
    max-width: 80rem;
    width: 100%;
    margin: 10px auto;
}

.colleges-list-header {
    font-size: 22px;
    margin: 10px auto;
    border-bottom: 1px solid black;
    text-align: left;
}

/* Mobile View */

@media screen and (max-width: 1280px) {
    .colleges-list-container {
        padding: 0 1rem;
    }
}