.social-icon-link {
    color: rgb(21, 21, 21);
    font-family: HelveticaNeue, arial;
    font-size: 14px;
}

.social-icon {
    box-sizing: content-box;
    height: 1.5rem;
    padding-left: 20px;
    width: 1.5rem;
}