.college-container {
    -webkit-box-align: center;
    align-items: center;
    background: rgb(192 255 243);
    display: flex;
    padding: 14px 27px;
    position: relative;
    text-decoration: none;
    width: 100%;
    margin-bottom: 24px;
    border-radius: 16px;
    border: 0px solid black;
    box-shadow: 5px 5px 20px 0px #86e5c3;
}
.colleges-list-wrapper {
    background-color: transparent !important;
}

/* Mobile View */

@media screen and (max-width: 1280px) {
    .colleges-list-wrapper {
        margin: 0 auto !important;
    }
}