.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.295), rgb(0 0 0 / 0%)), url(/src/assets/hero-banner.jpg);
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hero-logo {
  width: 200px;
}

.dynamic-paragraph {
  font-size: 24px;
  font-weight: bolder;
  margin-top: 20px;
  color: rgb(255, 255, 255);
}

.search-bar {
  width: 370px;
  height: 50px;
  padding: 0px 16px;
  background: white;
  color: black;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  margin: 20px;
  text-align: center;
}
.search-bar::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    text-align: center;
}

.button {
  background-color: #c3825f;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}
