@media screen and (min-width: 1340px) {
    .navbar-items {
        width: 100%;
        max-width: 80rem;
        padding: 0 !important;
    }
}

.navbar-items img {
    width: 70px;
    cursor: pointer;
}

/* MOBILE VIEW */

.navbar-items {
    padding: 0 1rem;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .navbar-items img {
        display: none;
    }
}