@media screen and (min-width: 1340px) {
    .navbar-items {
        width: 100%;
        max-width: 80rem;
        padding: 0 !important;
    }
}

.navbar-items {
    padding: 0 1rem;
    width: 100%;
}