.professors-container {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
}

.professors-wrapper {
    margin: 1rem 2rem;
}

.professors-list {
    background-color: transparent !important;
}

.professor-container {
    max-width: 80rem;
    width: 100%;
    margin: 1rem auto;
}


.reviews-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}

.professor-item-container {
    -webkit-box-align: center;
    align-items: center;
    background: rgb(192 255 243);
    display: flex;
    padding: 14px;
    position: relative;
    text-decoration: none;
    width: 100%;
    margin-bottom: 24px;
    border-radius: 16px;
    border: 0px solid black;
    box-shadow: 5px 5px 20px 0px #86e5c3;
}

.card-actions {
    justify-content: space-between;
}

.rating-upvote-container {
    display: flex;
    flex-direction: column;
}

.card-actions button:focus {
    outline: none !important;
}